  /* Custom page CSS
  -------------------------------------------------- */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  code {
    font-size: 80%;
  }

  .card-text {
    font-family: 'Consolas', 'Courier New', Courier, monospace
  }
  body {
    margin: 0;
    color: #222;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(71, 43, 186);
  }
  
  .content {
    background: white;
    width: 380px;
    height: 480px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 16px #222;
  }
  
  .content-bottom {
    margin: 10px 0;
  }
  
  h1 {
    font-family: 'Arvo', serif;
    font-size: 26px;
    margin: 32px auto 24px;
    line-height: 40px;
  }
  
  .img-gitlab {
    margin-top: 32px;
    width: 160px;
    height: 160px;
  }
  
  .btn {
    text-decoration: none;
    display: block;
    width: 220px;
    line-height: 38px;
    padding-top: 2px;
    border-radius: 20px;
    color: white;
    background: rgba(71, 43, 186, 1);
    margin: 0 auto;
    border: none;
    font-size: 14px;
  }
  
  input[type='text'] {
    width: 180px;
    line-height: 32px;
    margin-bottom: 12px;
    padding-left: 12px;
  }
  
  .sign-in-text {
    font-size: 14px;
    line-height: 22px;
  }
  .party-popper {
    display: inline-block;
    font-size: 52px;
    margin-bottom: 24px;
  }

  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


  /*Profile page  
  -------------------------------------------------- */

  #profile-title {
    font-size: 50px;
   
  }

  .profile-h4 {
  font-family: 'Consolas', 'Courier New', Courier, monospace
  }
  
  /*Activities page
  --------------------------------------------------*/
  #activities-title {
    font-size: 50px;
    margin-top: 50px;
  }

  #activities-body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #activities-conttainer {
    display: flex; /* Use flexbox for a flexible layout */
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    height: 100%; /* Expand the container's height to fill the viewport */
  }

  #activities-table-container {
    max-width: 100%;
    overflow-x: auto;
    width: 80%; /* Set a desired width for the table */
  }
