<h1>Groups and Projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="projects-body">
    <% if (viewData) { %>
      <% for (const group of viewData) { %>
        <tr>
          <td class="w-25">
            <img src="<%= group.groupAvatar %>" crossorigin="anonymous" width="40">
            <%= group.groupName %>
          </td>
          <td class="w-25">
            <% for (const project of group.groupProjects) { %>
              <div>
                <img src="<%= project.projectAvatar %>" crossorigin="anonymous" width="40">
                <%= project.projectName %>
              </div>
            <% } %>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no projects to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
