<h1>Groupes and projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>     </th>
    </tr>
  </thead>
  <tbody id="task-list">
    <% if (viewData) { %>
      <% for (const group of viewData) { %>
        <tr data-id="<%= group.issueId %>">
         
              <td class="w-25">
                <img src=<%= viewData.avatar %> crossorigin="anonymous" width="40">
              </td>
              <td class="w-25">
                <%= group.name %>
              </td>
             
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no projects to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

