<h1 id="activities-title">Activities</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Action name</th>
      <th>Created at</th>
      <th>Target title</th>
      <th>Target type</th>
    </tr>
  </thead>

  <tbody id="activities-body">
    <% if (viewData) { %>
      <% for (const activity of viewData) { %>
        <tr>
          <td class="w-25">
            <%= activity.actionName %>
          </td>
          <td class="w-25">
            <%= activity.createdAt %>
          </td>
          <td class="w-50">
            <%= activity.targetTitle %>
          </td>
          <td class="w-25">
            <%= activity.targetType %>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="4" class="text-center text-danger">
          There are no activities to display
        </td>
      </tr>
    <% } %>
    
  </tbody>
</table>
