<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Activities</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&family=Kumbh+Sans&display=swap" rel="stylesheet"/>
    <link href="/css/style.css"  />
  </head>

  <body>
    <div id="activities-conttainer">
      <h1 id="activities-title">Activities</h1>
      <div class="activities-table-container">
<table class="table table-striped">
  
  <thead>
    <tr>
      <th>Action name</th>
      <th>Created at</th>
      <th>Target title</th>
      <th>Target type</th>
    </tr>
  </thead>

  <tbody id="activities-body">
    <% if (viewData) { %>
      <% for (const activity of viewData) { %>
        <tr>
          <td class="w-25">
            <%= activity.actionName %>
          </td>
          <td class="w-25">
            <%= activity.createdAt %>
          </td>
          <td class="w-50">
            <%= activity.targetTitle %>
          </td>
          <td class="w-25">
            <%= activity.targetType %>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="4" class="text-center text-danger">
          There are no activities to display
        </td>
      </tr>
    <% } %>
    
  </tbody>
</table>
</div>
</div>
</body>
</html>
