<!-- Home page showing personal information -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    
    <title>Github OAuth</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />
    <link href="/css/style.css"  />
   
  </head>

  <body id="home-body">
    <% if (!isLoggedIn) { %>
    <div class="content unauthorized">
      <div class="top">
        <img class="img-gitlab" src="<%= baseURL %>/images/gitlab.jpg" />
        <h1>Happy to see you<br />newcomer 👋</h1>
      </div>
      <div class="content-bottom">
        <a class="btn" href="<%= baseURL %>auth">SIGN IN WITH GITLAB</a>
        <p class="sign-in-text">in order to get started</p>
      </div>
    </div>
    <% } %>
    <% if (isLoggedIn) { %>
    <div class="content authorized">
      <div class="top">
        <img class="img-gitlab" src="<%= baseURL %>/images/gitlab.jpg" />
        <h1><span class="party-popper">🎉</span><br />Awesome!<br />You're authorized 🔒</h1>
      </div>
    </div>
    <% } %>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>

