<!-- Home page showing personal information -->


    <h1 >
      Personal info
    </h1>
    <p>
      This is your personal information from GitLab
    </p>
    <hr>
    <br>
    <br>

     
 
     
 
  <hr />
</div>
